<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %}</title>
    <!-- <style>
        body{
            background-color: bisque;
        }
        label, input, button{
            display: block;
        }
    </style> -->
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/contato">Contato</a>
        <a href="/produtos"> Produto</a>
        <a href="/produtos/cadastro">Cadastro de produtos</a>
        <a href="/gerar_cnpj">Gerar CNPJ</a>
        <a href="/gerar_cpf">Gerar CPF</a>

    </nav>

    {% block content %}
    {% endblock %}

    <footer>Desenvolvido por Millena</footer>
</body>
</html>