<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/contato">Contato</a>
        <a href="/produtos"> Produto</a>
    </nav>
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum magni ex aliquid eos aut accusantium velit iure sequi mollitia maiores? Repudiandae temporibus at ea sint ratione quasi dolore dignissimos earum?
    Minus, recusandae rem id quos porro quod, aliquid neque hic voluptate provident doloribus incidunt deserunt iusto cupiditate saepe ducimus? Numquam nemo vel voluptate velit eveniet assumenda corporis hic culpa harum.
    Maiores illo perferendis inventore dolorem iure nemo minus nam nihil soluta commodi, dolor obcaecati saepe, corporis quo voluptas aliquid esse distinctio corrupti voluptates optio sequi beatae? Atque nostrum odio officia.</p>

    <footer>Desenvolvido por Millena Cupolillo</footer>
</body>
</html>