{% extends "base2.html"%}
{% block title %}Política de Privacidade{% endblock %}
{% block content %}
    <h1>Oolítica de Privacidade</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod maxime repudiandae, laborum molestias in nobis ipsam asperiores accusamus? Sint dolor laudantium natus voluptatibus. Repudiandae omnis animi obcaecati exercitationem libero soluta!
    Modi aspernatur, magnam natus quos magni nam quidem soluta, veritatis eos accusantium earum aut, minus cupiditate! Qui cupiditate iure, quam tenetur perferendis nemo nulla ullam, inventore maxime temporibus, corporis eligendi!
    Dolorem magnam iste alias sed sunt provident tenetur quam similique officia et ullam dolor, a reprehenderit sit minima quaerat velit esse aut cumque? Quis eius tempora labore sed. Atque, facere?
    Soluta magnam aperiam, at harum fugit numquam aliquid ex sit ut voluptatum. Earum eos laboriosam dicta ad sed. Illo exercitationem consequuntur quis cum repellat saepe facilis modi? Qui, sequi. Repellat.
    Veniam recusandae similique cupiditate, cumque natus consequatur iusto expedita sunt voluptatum culpa earum? Architecto corrupti laudantium temporibus vero consectetur unde labore hic! Hic atque maiores nisi voluptate, nihil ea modi?
    Libero possimus aut dolorum optio beatae at sint eveniet cum, repellat suscipit ipsum dolores sapiente sunt labore alias nesciunt? Possimus alias recusandae nemo praesentium labore, temporibus eveniet illo dolore laudantium!</p>
{% endblock %}